* {
  /* border: 1px dashed purple ; */
  font-family: 'Roboto Mono', monospace;
}

.hero {
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  max-width: 600px;
  margin: 15px auto;
  border: 1px solid black;
  background-color: lightgrey;
}

body {
  align-content: center;
  margin: 0 auto;
  /* background-color: aqua; */
}

.game {
  display: flex;
  justify-content: space-evenly;

  align-content: center;
  margin: 0 auto;

  max-width: 600px;
}

.scoreboard,
.controls {
  display: flex;
  flex-direction: column;
  width: 90px;
}

.scoreboard p,
button {
  margin: 5px 0;
  font-weight: bold;
  text-align: center;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid black;
}

.cell {
  border: 1px dashed black;
}


.next {
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.shape {
  display: flex;
  flex-wrap: wrap;
}

.square {
  background-color: yellow;
}

.bar {
  background-color: aqua;
}

.cross {
  background-color: purple;
}

.zed {
  background-color: chartreuse;
}

.revZed {
  background-color: red;
}

.ell {
  background-color: orange;
}

.revEll {
  background-color: blue;
}

.tetromino {
  display: block;
}