* {
  /* border: 1px dashed purple ; */
  font-family: 'Roboto Mono', monospace;
}

.hero {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  max-width: 600px;
  margin: 15px auto;
  border: 1px solid black;
  /* background-color: lightgrey; */
}

body {
  align-content: center;
  margin: 0 auto;
  /* background-color: aqua; */
}

.instructions{
  text-align: center;
  max-width: 600px;
  margin: 15px auto;
}

ul {
  list-style: none;
}

.game {
  display: flex;
  justify-content: space-evenly;

  align-content: center;
  margin: 0 auto;

  max-width: 600px;
}

.scoreboard,
.controls {
  display: flex;
  flex-direction: column;
  width: 90px;
}

.scoreboard p,
button {
  margin: 5px 0;
  font-weight: bold;
  text-align: center;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.cell {
  /* border-left: 1px dashed rgba(0, 0, 0, 0.1);
  border-right: 1px dashed rgba(0, 0, 0, 0.1); */
  border: 1px dashed rgba(0, 0, 0, 0.1);
}


.next {
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.shape {
  display: flex;
  flex-wrap: wrap;
}

.square {
  background-color: rgba(250, 250, 125, 0.7);
  border:1px solid rgba(250, 250, 125, 0.7);
}

.bar {
  background-color: rgba(146, 235, 235, 0.7);
  border:1px solid rgba(146, 235, 235, 0.7);
}

.cross {
  background-color: rgba(153, 81, 153, 0.7);
  border: 1px solid rgba(153, 81, 153, 0.7);
}

.zed {
  background-color: rgba(177, 233, 122, 0.7);
  border: 1px solid rgba(177, 233, 122, 0.7);
}

.revZed {
  background-color: rgba(245, 136, 136, 0.7);
  border: 1px solid rgba(245, 136, 136, 0.7);
}

.ell {
  background-color: rgba(243, 183, 73, 0.7);
  border: 1px solid rgba(243, 183, 73, 0.7);
}

.revEll {
  background-color: rgba(103, 103, 243, 0.7);
  border: 1px solid rgba(103, 103, 243, 0.7);
}

.tetromino {
  display: block;
}

.hidden {
  display: none;
}