* {
  border: 1px dashed purple ;
  font-family: 'Roboto Mono', monospace;
}

.hero {
  text-transform: uppercase;
  text-align: center;
  
}

body {
  align-content: center;
  margin: 0 auto;
}

.game {
  display: flex;
  justify-content: flex-start;

  align-content: center;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}


.next {
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

.shape {
  display: flex;
  flex-wrap: wrap;
}

.square {
  background-color: yellow;
  display: none;
}

.bar {
  background-color: aqua;
  display: none;
}

.cross {
  background-color: purple;
  display: none;
}

.zed {
  background-color: chartreuse;
  display: none;
}

.revZed {
  background-color: red;
  display: none;
}

.ell {
  background-color: orange;
  display: none;
}

.revEll {
  background-color: blue;
  display: none;
}

.tetromino {
  display: block;
}